name: Make
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
    - master

jobs:
  make:
    # Job name is Greeting
    name: Make
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Make
      run: ./make.sh
