name: Publish
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
    - master

jobs:
  build:
    # Job name is Greeting
    name: Build
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      id: checkout
    - name: Build
      run: |
        for role in $(find . -mindepth 1 -maxdepth 1 -type d ! -name ".*"); do
          echo processing $role ...
          version="$(awk '$1=="version:" {print $2}' $role/meta.yml)"
          tar czf $role-$version.tar.gz -C $role .
          git add $role-$version.tar.gz
        done
        echo git status ...
        git status
        echo git config ...
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        echo git add ...
        git add *.tar.gz
        echo git commit ...
        git commit -m "update"
        git push
